{% extends "base.html" %}
{% load static %}
{% block title %}Signup{% endblock title %}
{% block body %}
<div class="container p-4">
    <div class="container p-4">
        <div class="container p-4">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <img src="{% static "assets/img/signin.jpg" %}" alt="img not available"  style="width:60%" srcset="">
                </div>
                <div class="col-md-6">
                  <form class="mt-4" method = 'post' novalidate>
                    {% if messages %}
                    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                        </symbol>
                      </svg>
                        {% for message in messages %}
                        <div class="alert alert-success  alert-dismissible fade show d-flex align-items-center" role="alert">
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                            <div>
                               {{ message }}
                            </div>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                          </div>
                        {% endfor %}
                    {% endif %}
                          {% csrf_token %}
                    <!-- Firstname input -->
                    <div class="form-outline mb-4">
                      
                        {{form.first_name}}
                    </div>
                    <!-- lastname input -->
                    <div class="form-outline mb-4">
                      
                        {{form.last_name}}
                    </div>
                    <!-- username input -->
                    <div class="form-outline mb-4">
                      
                        {{form.username}}
                        <div class="invalid-feedback" data-sb-feedback="username:required">
                            {{form.error}}
                        </div>
                    </div>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                      
                        {{form.email}}
                        <div class="invalid-feedback" data-sb-feedback="email:required">
                            {{form.error}}
                        </div>               
                    </div>
                  
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                                    
                        {{form.password1}}
                    </div>
                  <!-- Password input -->
                  <div class="form-outline mb-4">
                                  
                    {{form.password2}}
                </div>
                    <!-- 2 column grid layout for inline styling -->
                    <div class="row mb-4">
                      <div class="col d-flex justify-content-center">
                        <!-- Checkbox -->
                        <div class="form-check">
                          <input class="form-check-input " type="checkbox" value="" id="form2Example31" checked />
                          <label class="form-check-label" for="form2Example31" style="color:white;"> Remember me </label>
                        </div>
                      </div>
                  
                      <div class="col">
                        <!-- Simple link -->
                        <a href="#!">Forgot password?</a>
                      </div>
                    </div>
                  
                    <!-- Submit button -->
                    <button type="Submit" class="btn btn-primary btn-block mb-4 d-block w-100">Sign up</button>
                  
                    <!-- Register buttons -->
                    <div class="text-center">
                      <p style= color:white;>Not a member? <a href="#!">Register</a></p>
                      <p style= color:white;>or sign up with:</p>
                      <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="icon ion-social-facebook"></i>
                      </button>
                  
                      <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="icon ion-social-google"></i>
                      </button>
                  
                      <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="icon ion-social-twitter"></i>
                      </button>
                  
                      <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="icon ion-social-github"></i>
                      </button>
                    </div>
                  </form>
                </div>
            </div>
            </div>           
          </div>
        </div>
      </div>
      
      <hr>
{% endblock body %}
      
      
     